*{
    margin: 0;
    padding: 0;
}

nav{
    width: 60%;
    margin: 0px auto 10px auto;
    background-color: rgb(206, 147, 182); /*Couleur de fond*/
    position: static;
    top: 0;
    padding: 10px 0; /*Augmente la taille du marge d'en haut de la barre de navigation*/
    margin-bottom: 10px;
}
    


nav li{
    width: 25%; /* Chaque élément <li> occupe 25% de la largeur */
    text-align: center; /* Le texte dans chaque <li> est centré */
    float: left; /* Les <li> s'alignent horizontalement les uns à côté des autres */
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;/* Supprime le soulignement du lien */
    color: black;/* Couleur du texte du lien */
    border-bottom: 2px solid transparent; /*sert pour l’effet au survol sur les textes */
    padding: 10px 0px;/* Ajoute un espace vertical autour du texte */
}

/*Je personalise ma barre de navigation pour que je passe mon curseur dessus, il y a des effets*/
nav a:hover{
    color: blue;
    border-bottom: 2px solid rgb(255, 0, 102);
}

/*Je met en forme mon en-tête*/
header{
    background-color: #8f477b; /*l'arrière plan de l'en-tête sera grisé */
    padding: 30px; /*La marge du bas et celle d'en haut du texte sera augmenter*/
    color: white; /*La couleur du texte mise en blanc*/
    text-align: center;/*Le texte sera centrer*/
    font-size: 25px; /*La taille du texte sera augment de 25 pixel*/
}

section{
    /*Réparti les section  */
    display: flex;
    gap: 40px; /*Pour que les sectionnes ne soient pas collé*/
}

footer{
    color: rgb(39, 37, 124);
    background-color: beige;
    text-align: center;
}

.producteurs{
    text-align: center;
}

table{
    width: 60%; /*la taille des cases en longueur*/
    border-collapse: collapse; /* enlève les doubles bordures */
    margin: 20px auto; /* centre le tableau */
    font-family: Arial, sans-serif;/*La police d'écriture*/
}

td {
    border: 1px solid #0c0101;/*La couleur des bordures*/
    padding: 10px;/*Taille des cases en largeur */
    text-align: center;/*Les textes sont centrer*/
    background: rgb(203, 52, 178);
}
th{
    border: 1px solid #0c0101;/*La couleur des bordures*/
    padding: 10px;/*Taille des cases en largeur */
    text-align: center;/*Les textes sont centrer*/
    background: rgb(95, 203, 52);
}
